body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(218, 96, 117);
}
.header{
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 48px;
}
.calculator{
    border: 2px solid black;
    height: 500px;
    width: 400px;
}