/*To do:
Fixa flex i display
Fixa behållare till knappar + skuggor
Fixa skugga till miniräknare i sig sj
Kolla om ngt är onödigt/upprepande
*/

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(218, 96, 117);
}
.header{
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 48px;
}
.calculator{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    box-shadow: 10px 10px 10px #25252588;
}

.display{
    padding: 50px;
    background-color: white;
    font-size: 25px;
}

.buttonContainer{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

button{
flex: 0 0 25%;
border-radius: 8px;
}